footer {
	padding: 100px;
	width: 100%;
	display: flex;
	background: #0d0d39;
	color: white;
	justify-content: space-between;
	gap: 150px;
    line-height: 2rem;
}

footer a , .footerp {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

footer > div:first-child {
	width: 40%;
}

footer > div:nth-child(2) {
	width: 50%;
	display: flex;
	gap: 50px;
	justify-content: space-evenly;
}
footer > div:nth-child(2) > div h2 {
	margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
	footer {
		padding: 100px 20px;
		gap: 10px;
	}
}

@media screen and (max-width: 786px) {
	footer {
        flex-direction: column;
        gap: 2rem;
	}
    footer > div:first-child {
        width: 100%;
    }
    
    footer > div:nth-child(2) {
        width: 100%;
        flex-direction: column;
}
}